.bg-dark-primary {
    /* background-color: darkblue; */
    background-image: linear-gradient(darkblue, blue);
    color: white;
}

.bg-light-primary {
    /* background-color: darkblue; */
    background-image: linear-gradient(rgb(0, 98, 255), skyblue);
    color: white;
    text-shadow: 1px 1px 3px black;
}

body {
    width: 100%;
}

.recent-search-pos {
    top: 10%;
    right: 0;

    /* width: 10vw; */
}

.recent-search-card {
    text-align: center;
}

.icon-size {
    width: 48px;
    height: 48px;
}

@media (min-width: 768px) {
    .recent-search-pos {
        top: 0%;
    }
    
    .icon-size {
        width: 64px;
        height: 64px;
        font-size: large;
    }


}